/* === FONDO GENERAL === */
ion-content {
  --background: rgba(0, 207, 86, 0.041);
}

/* === FAB BUTTON === */
ion-fab-button {
  --background: #00ce56d3 !important;
  --box-shadow: none;
}

/* === SEARCHBAR === */
ion-searchbar.custom {
  --background: #e4d500 !important;
  --color: #fff !important;
  --placeholder-color: #fff !important;
  --icon-color: #fff !important;
  --clear-button-color: #fff !important;
  --border-radius: 4px;
}

/* === CARD HEADER FLEX === */
ion-card-header {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

/* === CARD TITLES INLINE === */
ion-card-title,
ion-card-subtitle {
  display: inline-flex !important;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 8px;   /* separa icono y texto */
  font-size: 20px;
}
