ion-fab-button.additem{

  --border-radius: 12px; /* controla cuán redondeado lo quieres */
  --background: #00ce56d3;
  width: 90px;      /* ancho del botón */
  height: 48px;      /* alto del botón */
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-fab{

    margin-bottom: 15px;
    margin-right: 15px;
}